.header {
    background-color: none;
    color: $bgwhite;
    padding: 2px 2px;
    margin: 10px;

    &__content {
        max-width: max-content;
        margin: 5px auto;

        &--logo {
            margin: auto;
            display: block;
            width: 140px;
            height: 140px;
        }
    }
}

.nav-link {
    line-height: 4;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;

    &:hover {
        background-color: #f002;
    }
}

.navbar-brand {
    @extend .nav-link;
    transition: 0.3s;
    transition-timing-function: ease-in;

    &:hover {
        transform: scale(1.3);
    }
}