.header{
    background-color: none;
    color: $bgwhite;
    padding: 10px 9px;
    margin: 50px;

    &__content{
        max-width: max-content;
        margin: 5px auto;
        &--logo{
            margin:auto;
            display:block; 
            width:140px;
            height:140px;
                }
        &__text--title {
             margin: 15px;
             font-weight: 700;
                }    
    }    
}
.nav{     
    ul{
        list-style-type: none;
    }
    &__content{
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        color:black;
        &--a{
            line-height: 4;
            color: black;
            font-weight: bold;
            font-size:15px;
            border-radius: 10px;
            &:hover{
                background-color: #f002;            
            }
        }
        &--hov{
            transition: 0.3s;
            transition-timing-function: ease-in;
            &:hover{
            transform: scale(1.3);
        }
    }
}
}